<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- org.springframeworkパッケージ以下のログレベルをINFOに設定 -->
    <logger name="org.springframework" level="INFO" />

    <turboFilter class="ch.qos.logback.classic.turbo.DynamicThresholdFilter">
        <Key>suppress</Key>
        <DefaultThreshold>${APPLICATION_LOG_LEVEL}</DefaultThreshold>
        <MDCValueLevelPair>
            <value>true</value>
            <level>warn</level>
        </MDCValueLevelPair>
    </turboFilter>

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
